<form>
  <fieldset>

    <label>
      Name: <input type="text" name="userName" placeholder="name">
    </label>
    <label>
      Age: <input type="text" name="userAge" placeholder="Age">
    </label>
    <label>
      Gender: <input type="text" name="usergender" placeholder="Gender">
    </label>
    <label>
      cellphone: <input type="text" name="userCellphone" placeholder="cellphone">
    </label>
    <div>
      <button (click)="register()">Register</button>
    </div>
  </fieldset>

</form>